  /* font-family: "Pacifico"; */
    /* font-family:"Staatliches";   */
    /* font-family: "Roboto";  */

 html{
        scroll-behavior: smooth;
        font-size: 16px; 
}

.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;  
}
.icon{
    color:white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s; 
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.42);
}

.icon-facebook{
    background: #2E406E;    
}
.icon-instagram{
    background: #3F60A5;
}
.icon:first-child{
    border-radius: 1rem 0 0 0;
}
.icon:last-child{
    border-radius: 0 0 0 1rem;
}

body{  
    background-color: rgb(250, 250, 250);
    margin: 0px;   
}


header{  
    /* border: 5px solid red; */
    margin: auto;
    font-family: "Roboto"; 
    text-transform: uppercase;
    background-color: white;            
    font-size: 15px; 
    font-weight: 400;        
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    /* left: 0px;
    top: 0px; */
    /* position: fixed;
    z-index: 0;  */
}


h1{
    font-family:"Staatliches";
    text-align: center;
}


.header ol{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
}

 .header ol li{
    height: inherit;
    list-style: none;
    padding: 0px 10px;
}

.header-menu-link{
    text-decoration: none;
    color: black;
}

figure{
    margin: 0px;
}

.hero{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 50px;
}
.hero-subtitle {
    padding: 100px 20px 100px 100px;
    font-family: "Pacifico";
    font-size: 40px;
   
}

.hero-image{
    padding-top: 100px;
    padding-right: 100px;
}

.xhuncopops-title , .basecelular-title, .esferasnavidad-title{
    font-size: 30px;
    color:black;   
}

.xhuncopops{
    
}
.xhunco{
    background-color: white;
    border: solid 1px gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 10px #888888;
    
}

.xhunco-detail{
    width: 500px;
}

.xhunco-detail-title{
    font-family: "Staatliches";
    font-size: 30px;
}

.xhunco-detail-description{
    font-family: "Roboto";
    font-size: 20px;
    text-align: justify;
    line-height: 1.2;
    padding-right: 10px;
}

 .xhunco-image{
     width: 350px;
 }


.basescelular{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .base{
    width: 45%;
    height: 200px;   
    background-color: #f4fbff;
    border: solid 1px gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 3px 5px 10px #888888;     
 }

 .base-detail{
     background-color: white;
     
 }
 .base-title{
    font-family: "Staatliches";
    font-size: 20px;
    text-align: center;   
}

.img-base{
    display: block;
    margin: auto;
    width:200px ;      
    
}

.base-description{
    font-family:"Roboto" ;
    text-align: center;
    font-size: 20px;
}

.esferasnavidad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.esfera{
    width: 45%;
    height: 300px;   
    background-color: #f4fbff;
    border: solid 1px gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    box-shadow: 3px 5px 10px #888888;     
}
.esfera-img{
    display: block;
    margin: auto;
    width:200px ;
}

.esfera-title{
    font-family: "Staatliches";
    font-size: 20px;
    margin: 10px 150px 10px 150px;  
}

.footer{
    background-color: #0087ff;
    color: white;   
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    
   
}

.footer a{
    text-decoration: none;
    color: white;
}

.container{   
    /* width: 1000px; */
    width: 95%;

    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;    
    /* padding: 0px 10px; */
    
}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){
    .header-logo{
        margin: auto;        
    }
    .header ol{
        
    } 
     .header-menu{
         display: block;
         margin: auto;
     }

     .hero{
         flex-wrap: wrap;
     }
     .hero-subtitle{
         font-size: 35px;
         padding: 0px 0px;
         margin: auto;
     }

    .hero-image{
        padding: 0px 0px;
        margin: auto;

    }

    .hero-image img{
        height: auto; 
        width: auto; 
        max-width: 400px; 
        max-height: 400px;
     }
     .xhunco-image{
        height: auto; 
        width: auto; 
        max-width: 200px; 
        max-height: 200px;
     }

     .base{
         width: 40%;
         flex-direction: column;
         height: auto;
     }

     .base-detail{
         height: 200px;
     }

     .img-base{
        height: auto; 
        width: auto; 
        max-width: 200px; 
        max-height: 200px;
     }

     .esfera{
        width: 40%;
        /* flex-direction: column; */
        height: auto;
     }
     .social-bar{
        font-size: 1.1rem;
    }
     
}

@media screen and (max-width:480px){
    .xhuncopops-title{
        text-align: center;
    }

    .xhunco{
        flex-wrap: wrap;
        justify-content: center;
    }

    .xhunco-detail-title{
        text-align: center;
    }

    .base-description{
        font-size: 15px;
    }
    .img-base{
        height: auto; 
        width: auto; 
        max-width: 150px; 
        max-height: 150px;
    }
    .base-detail{
        height: 150px;
    }

    .esfera-img{
        height: auto; 
        width: auto; 
        max-width: 150px; 
        max-height: 150px;
    }
    .social-bar{
        font-size: 1rem;
    }
}
@media screen and (max-width:442px){
    .header{
        display: block;        
    }
    .header-logo{
        text-align: center;
        
    }
    .header-menu{
        
    }     
          
    .header ol{
        display:block;
        text-align: center;
    } 
    .header ol li{
        height: 30px;
    }
    .hero-image img{
        height: auto; 
        width: auto; 
        max-width: 300px; 
        max-height: 300px;
     }
     .hero-subtitle{
        font-size: 25px;
        padding: 0px 0px;
        margin: auto;
    }
    .xhuncopops-title{
        font-size: 25px;
    }

    .xhunco-detail-title{
        font-size: 20px;
    }

    .xhunco-detail-description{
        font-size: 15px;
    }
    .base{
        width: 95%;
        flex-direction: column;
        height: auto;
    }
    .basecelular-title{
        /* margin: auto; */
        text-align: center;
        font-size: 25px;
    }

    .esferasnavidad{
        /* width: 95%; */
    }
    .esfera{
        width: 95%;
        padding: 0px 0px;
        margin: 10px auto;
    }
    .esferasnavidad-title{
        text-align: center;
        font-size: 25px;
    }

    .footer{
        text-align: center;
    }
    .social-bar{
        font-size: .8rem;
    }
    
}